.edisodeList {
  margin-top: 50px;
}
.description {
  padding: 15px;
  background-color: var(--description-bg-color);
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  span {
    max-width: 600px;
    display: inline-flex;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    color: var(--ovive-color);
  }
}
.image {
  margin: 12px auto 0 auto;
}
.text {
  margin: 20px auto 0 auto;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  line-height: 33px;
  color: var(--light-gray-color);
  text-wrap: pretty;
}