.header {
  background-color: var(--green-bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerTitle {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--ovive-color);
}