.topEpisode {
  margin-top: 50px; 
}
.title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--green-bg-color);
}
.text {
  max-width: 800px;
  margin: 20px auto 0 auto;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  color: var(--light-gray-color);
  text-align: center;
  text-wrap: pretty;
}
.topEpisodeList {
  margin-top: 30px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 50px 50px; 
}
.episodePageLink {
  position: relative;
  transition: all 1s ease;
}
.name {
  max-width: 350px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--ovive-color);
}
.image {
  margin-top: 10px;
  border-radius: 0px 20px 4px;
  border-right: 4px solid var(--green-bg-color);
  border-bottom: 4px solid var(--green-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 1s ease;
}
.topPlace {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  line-height: 75px;
  color: var(--white-color);
  transition: all 1s ease;
}
.airDate {
  margin-top: 23px;
  font-size: 15px;
  line-height: 15px;
}
.episodePanel {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 12px;
  line-height: 12px;
  .director {
    display: inline-flex;
  }
  .writer {
    display: inline-flex;
    text-align: right;
  }
}
//---@media-topEpisode------------
@media (hover: hover) and (pointer: fine) {
  .episodePageLink:hover {
    .image {
      border-right: 4px solid var(--light-gray-color);
      border-bottom: 4px solid var(--light-gray-color);
    }
    .topPlace {
      color: var(--error-message-color);
    }
  }
}
@media (hover: none) {
  .episodePageLink:active {
    .image {
      border-right: 4px solid var(--light-gray-color);
      border-bottom: 4px solid var(--light-gray-color);
    }
    .topPlace {
      color: var(--error-message-color);
    }
  }
}
@media(max-width: 1320px) {
  .topEpisodeList {
    gap: calc(20px + (50 - 20)*((100vw - 768px)/(1320 - 768)));
  }
}
@media(max-width: 768px) {
  .topEpisodeList {
    gap: 20px;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }
  .episode {
    justify-items: center;
    justify-self: center;
  }
  .name {
    max-width: 100%;
  }
}